menu "SELECT COMPONENT"

config BUILD_COMPONENT_CPC
	bool "CPC"
	default 0
	select BUILD_COMPONENT_SW_TIMER
	help
	  apply CPC component.

config BUILD_COMPONENT_BLUETOOTH
	bool "NETWORK BLUETOOTH"
	default 0
	help
	  apply network BLUETOOTH component.

config BUILD_COMPONENT_BLUETOOTH_HCI_BRIDGE
	depends on BUILD_COMPONENT_BLUETOOTH
	bool "NETWORK BLUETOOTH HIC BRIDGE"
	default 1

config BUILD_COMPONENT_BLUETOOTH_LE_HOST
	depends on BUILD_COMPONENT_BLUETOOTH
	bool "NETWORK BLUETOOTH LE HOST"
	default 0

config BUILD_COMPONENT_BLUETOOTH_LE_MESH
	depends on BUILD_COMPONENT_BLUETOOTH
	bool "NETWORK BLUETOOTH LE MESH"
	default 0

config BUILD_COMPONENT_LMAC5P4
	bool "NETWORK LMAC 15P4"
	default 0
	help
	  apply network lmac 15p4 component.

config BUILD_COMPONENT_RT569
	bool "NETWORK RT569 RF"
	default 1
	select BUILD_COMPONENT_RT569_RF
	select BUILD_COMPONENT_RT569_FW
	help
	  apply network RT569 RF component.

config BUILD_COMPONENT_RT569_RF
	bool "NETWORK RT569 RF"
    depends on BUILD_COMPONENT_RT569
	default 0
	help
	  apply network RT569 RF component.

config BUILD_COMPONENT_RT569_FW
	bool "NETWORK RT569 FW"
    depends on BUILD_COMPONENT_RT569
	default 0
	help
	  apply network RT569 MP component.

config BUILD_COMPONENT_CSS
	bool "NETWORK CSS"
	default 0
	help
	  apply network CSS component.

config BUILD_COMPONENT_RUCI
	bool "NETWORK RUCI"
	default 0
	help
	  apply network RUCI component.

config BUILD_COMPONENT_SUBG_CTRL
	bool "NETWORK SUBG CTRL"
	default 0
	help
	  apply network subG CTRL component.

menu "THREAD"
config BUILD_COMPONENT_OPENTHREAD
	bool "THREAD OPENTHREAD"
	select BUILD_COMPONENT_OPENTHREAD_PORT
	
	default 0
	help
	  apply network openthread component.

config BUILD_COMPONENT_OPENTHREAD_SUBG
	bool "THREAD OPENTHREAD SUBG"
	select BUILD_COMPONENT_OPENTHREAD_PORT
	default 0
	help
	  apply network openthread sub-g component.

config BUILD_COMPONENT_OPENTHREAD_PORT
	bool "THREAD OPENTHREAD PAL"
	select BUILD_COMPONENT_LMAC5P4
	default 0
	help
	  apply network openthread PAL APIs acomponent.
endmenu

menu "CRYPTO COMPONENT"

if RT584S || RT584H || RT584L || RT584_NONE_OS
config CRYPTO
	select CRYPTO_AES_ENABLE
	select CRYPTO_C25519_ENABLE
	select CRYPTO_SECP256R1_ENABLE
	select CRYPTO_SECP192R1_ENABLE
	select CRYPTO_SECT163R2_ENABLE	
	select CRYPTO_SM3_ENABLE
	select CRYPTO_SM4_ENABLE
	select CRYPTO_SM2P256V1_ENABLE
	select CRYPTO_SM2_P192_ENABLE	
	help
	  apply crytpo component.	
endif

if RT581 || RT582 || RT583 || RT582_NONE_OS
config CRYPTO
	select CRYPTO_AES_ENABLE
	select CRYPTO_C25519_ENABLE
	select CRYPTO_SECP256R1_ENABLE
	select CRYPTO_SECP192R1_ENABLE
	select CRYPTO_SECT163R2_ENABLE	
	help
	  apply crytpo component.	
endif

config CRYPTO_AES_ENABLE
	bool "CRYPTO_AES_ENABLE"
	default 1
	help
	  apply crytpo aes component.

config CRYPTO_C25519_ENABLE
    bool "CRYPTO_C25519_ENABLE"
    default 1

config CRYPTO_SECP256R1_ENABLE
    bool "CRYPTO_SECP256R1_ENABLE"
    default 1

config CRYPTO_SECP192R1_ENABLE
    bool "CRYPTO_SECP192R1_ENABLE"
    default 1

config CRYPTO_SECT163R2_ENABLE
    bool "CRYPTO_SECT163R2_ENABLE"
    default 1

if RT584S || RT584H || RT584L || RT584_NONE_OS

config CRYPTO_SM3_ENABLE
    bool "CRYPTO_SM3_ENABLE"
    default 1

config  CRYPTO_SM4_ENABLE
    bool "CRYPTO_SM4_ENABLE"
    default 1

config  CRYPTO_SM2P256V1_ENABLE
    bool "CRYPTO_SM2P256V1_ENABLE"
    default 1

 config  CRYPTO_SM2_P192_ENABLE
    bool "CRYPTO_SM2_P192_ENABLE"
    default 1 

endif

endmenu

config BUILD_COMPONENT_ZIGBEE
	bool "NETWORK ZIGBEE"
	default 0
	help
	  apply network zigbee component.
config BUILD_COMPONENT_UTILITY
	bool "UTILITY BASIC"
	help
	  apply utility basic component.
config BUILD_COMPONENT_CLI
	bool "UTILITY CLI"
	default 0
	help
	  apply utility cli component.

config BUILD_COMPONENT_ENHANCED_FLASH_DATASET
	bool "UTILITY ENHANCED FLASH DATASET"
	default 0
	help
	  apply utility Enhanced Flash Dataset component.

config BUILD_COMPONENT_NEWLIBC
	bool "RAFAEL LIBC"
	default 1

config BUILD_COMPONENT_LOG
	bool "UTILITY LOG"
	default 0
	select BUILD_COMPONENT_UART_STDIO
	select BUILD_COMPONENT_UTILITY
	help
	  apply utility log component.

config BUILD_COMPONENT_UART_STDIO
	bool "UTILITY UART STDIO"
	help
	  apply utility uart stdio component.


config BUILD_COMPONENT_SYSLOG
	bool "UTILITY SYSTEM LOG"

config BUILD_COMPONENT_SW_TIMER
	bool "UTILITY SW TIMER"

config BUILD_COMPONENT_LZMADEC
	bool "LZMA library"

config BUILD_COMPONENT_VERSION_INFO
	bool "Version info"

endmenu

if BUILD_COMPONENT_BLUETOOTH_LE_HOST
menu "SELECT SUPPORT BLE SERVICES"
config BLUETOOTH_LE_SERVICE_GAP
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE GAP"
	default 0

config BLUETOOTH_LE_SERVICE_DIS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE DIS"
	default 0

config BLUETOOTH_LE_SERVICE_GATT
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE GATT"
	default 0

config BLUETOOTH_LE_SERVICE_BAS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE BAS"
	default 0

config BLUETOOTH_LE_SERVICE_BLS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE BLS"
	default 0

config BLUETOOTH_LE_SERVICE_FOTA
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE FOTA"
	default 0

config BLUETOOTH_LE_SERVICE_HID
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE HID"
	default 0

config BLUETOOTH_LE_SERVICE_HRS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE HRS"
	default 0

config BLUETOOTH_LE_SERVICE_MESH
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE MESH"
	default 0

config BLUETOOTH_LE_SERVICE_TRSP
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE TRSP"
	default 0

config BLUETOOTH_LE_SERVICE_MATTER
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE MATTER"
	default 0

config BLUETOOTH_LE_SERVICE_ESLS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE ESL"
	default 0

config BLUETOOTH_LE_SERVICE_OTS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_HOST
	bool "BLUETOOTH LE SERVICE OTS"
	default 0

endmenu
endif # BUILD_COMPONENT_BLUETOOTH_LE_HOST

if BUILD_COMPONENT_BLUETOOTH_LE_MESH
menu "SELECT SUPPORT BLE MESH MODELS"

config BLUETOOTH_LE_MESH_MODEL_GENERICS_BATTERY
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS BATTERY"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_DEFAULT_TRANS_TIME
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS DEFAULT TRANS TIME"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_LEVEL
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS LEVEL"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_LOCATION
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS LOCATION"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_ONOFF
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS ONOFF"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_POWER_LEVEL
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS POWER LEVEL"
	default 0

config BLUETOOTH_LE_MESH_MODEL_GENERICS_POWER_ONOFF
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL GENERICS POWER ONOFF"
	default 0

config BLUETOOTH_LE_MESH_MODEL_LIGHTING_LIGHTNESS
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL LIGHTING LIGHTNESS"
	default 0

config BLUETOOTH_LE_MESH_MODEL_SCENE
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL SCENE"
	default 0

config BLUETOOTH_LE_MESH_MODEL_VENDOR
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL VENDOR"
	default 0

config BLUETOOTH_LE_MESH_MODEL_SERVER
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL SERVER"
	default 0

config BLUETOOTH_LE_MESH_MODEL_CLIENT
	depends on BUILD_COMPONENT_BLUETOOTH_LE_MESH
	bool "BLUETOOTH LE MESH MODEL CLIENT"
	default 0

endmenu
endif # BUILD_COMPONENT_BLUETOOTH_LE_MESH
