menu "SELECT DEVICE"

choice CHIP_TYPE
	prompt "CHIP TYPE"
	default RT582

config RT581
	bool "RT581"
	select FREERTOS
	select DRIVER
	select CRYPTO
	select HOSAL
	select BUILD_COMPONENT_RT569
	select BUILD_COMPONENT_RUCI
	select BUILD_COMPONENT_NEWLIBC	
	help
	  RT581.

config RT582_NONE_OS
	bool "RT582 none os"
	select DRIVER
	select CRYPTO
	select HOSAL
	help
	  RT582.

config RT582
	bool "RT582"
	select FREERTOS
	select DRIVER
	select CRYPTO
	select HOSAL
	select BUILD_COMPONENT_RT569
	select BUILD_COMPONENT_RUCI
	select BUILD_COMPONENT_NEWLIBC
	help
	  RT582.

config RT583
	bool "RT583"
	select FREERTOS
	select DRIVER
	select CRYPTO
	select HOSAL
	select BUILD_COMPONENT_RT569
	select BUILD_COMPONENT_RUCI
	select BUILD_COMPONENT_NEWLIBC	
	help
	  RT583.

config RT584S
	bool "RT584S"
	select FREERTOS
	select DRIVER
	select CRYPTO
	select HOSAL
	#select BUILD_COMPONENT_RT569
	#select BUILD_COMPONENT_RUCI
	#select BUILD_COMPONENT_NEWLIBC
	help
	  RT584S.

config RT584H
	bool "RT584H"
	select FREERTOS
	select DRIVER
	select CRYPTO
	select HOSAL
	#select BUILD_COMPONENT_RT569
	#select BUILD_COMPONENT_RUCI
	#select BUILD_COMPONENT_NEWLIBC
	help
	  RT584H.

config RT584L
	bool "RT584L"
	select FREERTOS
	select DRIVER
	select CRYPTO
	select HOSAL
	#select BUILD_COMPONENT_RT569
	#select BUILD_COMPONENT_RUCI
	#select BUILD_COMPONENT_NEWLIBC
	help
	  RT584L.

config RT584_NONE_OS
	bool "RT584 none os"
	select DRIVER
	select CRYPTO
	select HOSAL
	help
	  RT584.


endchoice

config CHIP
    string
    default "RT581" if RT581
    default "RT582" if RT582
    default "RT583" if RT583
    default "RT584S" if RT584S
	default "RT584H" if RT584H
	default "RT584L" if RT584L
	default "RT582_NONE_OS" if RT582_NONE_OS
	default "RT584_NONE_OS" if RT584_NONE_OS

choice BOARD_TYPE
	prompt "BOARD TYPE"
	default NONE
if RT581
config EVB
	bool "EVB"
	help
	  EVB.

config DONGLE
	bool "DONGLE"
	help
	  Dongle.
endif # RT581

if RT582
config EVB
	bool "EVB"
	help
	  EVB.

config DONGLE
	bool "DONGLE"
	help
	  Dongle.
endif # RT582

if RT582_NONE_OS
config BOOTLOADER
	bool "Boot Loader"

endif # RT582

if RT583
config EVB
	bool "EVB"
	help
	  EVB.

config DONGLE
	bool "DONGLE"
	help
	  Dongle.
endif # RT583

if RT584S
config EVB
	bool "EVB"
	help
	  EVB.
endif # RT584S

if RT584H
config EVB
	bool "EVB"
	help
	  EVB.
endif # RT584H

if RT584L
config EVB
	bool "EVB"
	help
	  EVB.
endif # RT584L

if RT584_NONE_OS
config BOOTLOADER
	bool "Boot Loader"

endif # RT584
endchoice

config BOARD
    string 
    default "EVB" if EVB
    default "DONGLE" if DONGLE
	default "BOOTLOADER" if BOOTLOADER
    default "NONE" if NONE

if RT584S || RT584H || RT584L || RT584_NONE_OS
choice TRUST_ZONE_TYPE
	prompt "TRUST ZONE TYPE"
	default TRUST_ZONE_SECURE

#config NOT_TRUST_ZONE
#	bool "NOT TRUST ZONE"
#	help
#	  NOT TRUST ZONE.
config TRUST_ZONE_SECURE
	bool "TRUST ZONE SECURE"
	help
	  TRUST ZONE SECURE.
#config TRUST_ZONE_NONSECURE
#	bool "TRUST ZONE NONSECURE"
#	help
#	  TRUST ZONE NONSECURE.
endchoice

config TRUST_ZONE
    string 
    default "NOT_TRUST_ZONE" if NOT_TRUST_ZONE
    default "TRUST_ZONE_SECURE" if TRUST_ZONE_SECURE
    default "TRUST_ZONE_NONSECURE" if TRUST_ZONE_NONSECURE

source "config/peripheral_security.config"
	
endif # RT584

config PERIPHERAL_SELECT
source "config/peripheral_select.config"

if RT582 && EVB
source "components/platform/soc/rt582/rt582_evb/Kconfig"
endif # CHIP_TYPE="RT582" && BOARD_TYPE="EVB"

if RT582 && DONGLE
source "components/platform/soc/rt582/rt582_dongle/Kconfig"
endif # CHIP_TYPE="RT582" && BOARD_TYPE="DONGLE"

if RT581 && EVB
source "components/platform/soc/rt582/rt582_evb/Kconfig"
endif # CHIP_TYPE="RT581" && BOARD_TYPE="EVB"

if RT581 && DONGLE
source "components/platform/soc/rt582/rt582_dongle/Kconfig"
endif # CHIP_TYPE="RT581" && BOARD_TYPE="DONGLE"

if RT583 && EVB
source "components/platform/soc/rt582/rt582_evb/Kconfig"
endif # CHIP_TYPE="RT581" && BOARD_TYPE="EVB"

if RT583 && DONGLE
source "components/platform/soc/rt582/rt582_dongle/Kconfig"
endif # CHIP_TYPE="RT583" && BOARD_TYPE="DONGLE"

if RT582_NONE_OS && BOOTLOADER
source "components/platform/soc/rt582/rt582_bootloader/Kconfig"
endif # CHIP_TYPE="RT582" && BOARD_TYPE="BOOTLOADER"

if RT584_NONE_OS && BOOTLOADER
source "components/platform/soc/rt584/rt584_bootloader/Kconfig"
endif # CHIP_TYPE="RT584" && BOARD_TYPE="BOOTLOADER"

if RT582
config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m3"
    depends on RT582
	help
	  CPU_COMPILER_FLAG

config FREERTOS
	bool
	default 1
    depends on RT582
	help
	  FREERTOS

config DRIVER
	bool
	default 1
    depends on RT582
	help
	  DRIVER

config CRYPTO
	bool
	default 1
    depends on RT582
	help
	  CRYPTO
config CRYPTO_SECP256R1_ENABLE
	bool
	default 0
	help
	  CRYPTO_SECP256R1_ENABLE

config HOSAL
	bool
	default 1
    depends on RT582
	help
	  HOSAL
endif

if RT581
config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m3"
    depends on RT581
	help
	  CPU_COMPILER_FLAG

config FREERTOS
	bool
	default 1
    depends on RT581
	help
	  FREERTOS

config DRIVER
	bool
	default 1
    depends on RT581
	help
	  DRIVER

config CRYPTO
	bool
	default 1
    depends on RT581
	help
	  CRYPTO
config CRYPTO_SECP256R1_ENABLE
	bool
	default 0
	help
	  CRYPTO_SECP256R1_ENABLE

config HOSAL
	bool
	default 1
    depends on RT581
	help
	  HOSAL
endif

if RT583
config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m3"
    depends on RT583
	help
	  CPU_COMPILER_FLAG

config FREERTOS
	bool
	default 1
    depends on RT583
	help
	  FREERTOS

config DRIVER
	bool
	default 1
    depends on RT583
	help
	  DRIVER

config CRYPTO
	bool
	default 1
    depends on RT583
	help
	  CRYPTO
config CRYPTO_SECP256R1_ENABLE
	bool
	default 0
	help
	  CRYPTO_SECP256R1_ENABLE

config HOSAL
	bool
	default 1
    depends on RT583
	help
	  HOSAL
endif

if RT582_NONE_OS
config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m3"
    depends on RT582_NONE_OS
	help
	  CPU_COMPILER_FLAG
config FREERTOS
	bool
	default 0
    depends on RT582_NONE_OS
	help
	  FREERTOS

config DRIVER
	bool
	default 1
    depends on RT582_NONE_OS
	help
	  DRIVER

config CRYPTO
	bool
	default 1
    depends on RT582_NONE_OS
	help
	  CRYPTO
config CRYPTO_SECP256R1_ENABLE
	bool "CRYPTO_SECP256R1_ENABLE"
	default 1
	depends on CRYPTO
	help
	  CRYPTO_SECP256R1_ENABLE

config HOSAL
	bool
	default 1
    depends on RT582_NONE_OS
	help
	  HOSAL
endif

if RT584S
config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m33"
    depends on RT584S
	help
	  CPU_COMPILER_FLAG

config FREERTOS
	bool
	default 1
    depends on RT584S
	help
	  FREERTOS

config DRIVER
	bool
	default 1
    depends on RT584S
	help
	  DRIVER

config CRYPTO
	bool
	default 1
    depends on RT584S
	help
	  CRYPTO
config CRYPTO_SECP256R1_ENABLE
	bool
	default 0
	help
	  CRYPTO_SECP256R1_ENABLE

config HOSAL
	bool
	default 1
    depends on RT584S
	help
	  HOSAL
endif

if RT584H
config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m33"
    depends on RT584H
	help
	  CPU_COMPILER_FLAG

config FREERTOS
	bool
	default 1
    depends on RT584H
	help
	  FREERTOS

config DRIVER
	bool
	default 1
    depends on RT584H
	help
	  DRIVER

config CRYPTO
	bool
	default 1
    depends on RT584H
	help
	  CRYPTO
config CRYPTO_SECP256R1_ENABLE
	bool
	default 0
	help
	  CRYPTO_SECP256R1_ENABLE

config HOSAL
	bool
	default 1
    depends on RT584H
	help
	  HOSAL
endif

if RT584L
config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m33"
    depends on RT584L
	help
	  CPU_COMPILER_FLAG

config FREERTOS
	bool
	default 1
    depends on RT584L
	help
	  FREERTOS

config DRIVER
	bool
	default 1
    depends on RT584L
	help
	  DRIVER

config CRYPTO
	bool
	default 1
    depends on RT584L
	help
	  CRYPTO
config CRYPTO_SECP256R1_ENABLE
	bool
	default 0
	help
	  CRYPTO_SECP256R1_ENABLE

config HOSAL
	bool
	default 1
    depends on RT584L
	help
	  HOSAL
endif

if RT584_NONE_OS
config CPU_COMPILER_FLAG
	string
	default "-mcpu=cortex-m33"
    depends on RT584_NONE_OS
	help
	  CPU_COMPILER_FLAG
config FREERTOS
	bool
	default 0
    depends on RT584_NONE_OS
	help
	  FREERTOS
config DRIVER
	bool
	default 1
    depends on RT584_NONE_OS
	help
	  DRIVER
config CRYPTO
	bool
	default 1
    depends on RT584_NONE_OS
	help
	  CRYPTO
config CRYPTO_SECP256R1_ENABLE
	bool "CRYPTO_SECP256R1_ENABLE"
	default 1
	depends on CRYPTO
	help
	  CRYPTO_SECP256R1_ENABLE
config HOSAL
	bool
	default 1
    depends on RT584_NONE_OS
	help
	  HOSAL
endif

endmenu