config HCI_RAW
	bool "hci_raw"

config HELLOWORLD
	bool "helloworld"
    select BUILD_COMPONENT_NEWLIBC
    select BUILD_COMPONENT_LOG
    select BUILD_COMPONENT_CLI

config BOOTLOADER_APP
    bool "Boot Loader"

config MULTI_PROTOCOL_RCP
	bool "multi-rcp"
    select BUILD_COMPONENT_OPENTHREAD
    select BUILD_COMPONENT_ENHANCED_FLASH_DATASET
    select BUILD_COMPONENT_CLI
    select BUILD_COMPONENT_LOG
    select BUILD_COMPONENT_CPC
    select BUILD_COMPONENT_BLUETOOTH
    select BUILD_COMPONENT_BLUETOOTH_HCI_BRIDGE
    select BUILD_COMPONENT_LMAC5P4
    select BUILD_COMPONENT_UART_STDIO
    select BUILD_COMPONENT_UTILITY

config RF_EV_UB
	bool "rf-ev-ub"
    select BUILD_COMPONENT_CSS
    select BUILD_COMPONENT_LOG
    select BUILD_COMPONENT_RT569
    select BUILD_COMPONENT_RUCI
    select BUILD_COMPONENT_UART_STDIO
    select BUILD_COMPONENT_UTILITY

config RF_LABTEST_TOOL
	bool "rf-labtest-tool"
    select BUILD_COMPONENT_CSS
    select BUILD_COMPONENT_LOG
    select BUILD_COMPONENT_RT569
    select BUILD_COMPONENT_RUCI
    select BUILD_COMPONENT_UART_STDIO
    select BUILD_COMPONENT_UTILITY