menu "PERIPHERAL SLEECT"

if RT581 || RT582 || RT583
config PERIPHERAL_COMP
		bool "COMPARATOR"
		default y
endif

config PERIPHERAL_DMA
		bool "DMA"
		default y
		
config PERIPHERAL_PWM
		bool "PWM"
		default y		

config PERIPHERAL_I2S
		bool "I2S"
		default y	

config PERIPHERAL_I2C
		bool "I2C"
		default y

config PERIPHERAL_SPI
		bool "SPI"
		default y
	
config PERIPHERAL_SADC
		bool "SADC"
		default y

config PERIPHERAL_RTC
		bool "RTC"
		default y

config PERIPHERAL_TIMER
		bool "TIMER"
		default y
		
config PERIPHERAL_SWI
		bool "SWI"
		default y		

if RT584S || RT584H || RT584L

config PERIPHERAL_AUX_COMP
	bool "AUX_COMPARATOR"
	default y

config PERIPHERAL_BOD_COMP
	bool "BOD_COMPARATOR"
	default y

config PERIPHERAL_IRM
	bool "IRM"
	default y
	
endif

endmenu
