menu "PERIPERHAL SECURITY"

config AUX_COMP_SECURE_EN
	bool "AUX_COMP_SECURE_EN"
	default y

config BOD_COMP_SECURE_EN
	bool "BOD_COMP_SECURE_EN"
	default y

config COMM_SUBSYSTEM_AHB_SECURE_EN
	bool "COMM_SUBSYSTEM_AHB_SECURE_EN"
	default y

config DMA0_SECURE_EN
	bool "DMA0_SECURE_EN"
	default y

config DMA1_SECURE_EN
	bool "DMA1_SECURE_EN"
	default y

config DPD_SECURE_EN
	bool "DPD_SECURE_EN"
	default y

config FLASHCTRL_SECURE_EN
	bool "FLASHCTRL_SECURE_EN"
	default y

config GPIO_SECURE_EN
	bool "GPIO_SECURE_EN"
	default y

config I2C_MASTER0_SECURE_EN
	bool "I2C_MASTER0_SECURE_EN"
	default y
    
config I2C_MASTER1_SECURE_EN
	bool "I2C_MASTER1_SECURE_EN"
	default y

config I2C_SLAVE_SECURE_EN
	bool "I2C_SLAVE_SECURE_EN"
	default y

config I2S0_SECURE_EN
	bool "I2S0_SECURE_EN"
	default y
    	
config IRM_SECURE_EN
	bool "IRM_SECURE_EN"
	default y

config PWM_SECURE_EN
	bool "PWM_SECURE_EN"
	default y

config QSPI0_SECURE_EN
	bool "QSPI0_SECURE_EN"
	default y

config QSPI1_SECURE_EN
	bool "QSPI1_SECURE_EN"
	default y

config RCO1M_CAL_SECURE_EN
	bool "RCO1M_CAL_SECURE_EN"
	default y

config RCO32K_CAL_SECURE_EN
	bool "RCO32K_CAL_SECURE_EN"
	default y

config RTC_SECURE_EN
	bool "RTC_SECURE_EN"
	default y

config SADC_SECURE_EN
	bool "SADC_SECURE_EN"
	default y

config SLOWTIMER0_SECURE_EN
	bool "SLOWTIMER0_SECURE_EN"
	default y

config SLOWTIMER1_SECURE_EN
	bool "SLOWTIMER1_SECURE_EN"
	default y

config SOC_PMU_SECURE_EN
	bool "SOC_PMU_SECURE_EN"
	default y

config SW_IRQ0_SECURE_EN
	bool "SW_IRQ0_SECURE_EN"
	default y

config SW_IRQ1_SECURE_EN
	bool "SW_IRQ1_SECURE_EN"
	default y

config SYSCTRL_SECURE_EN
	bool "SYSCTRL_SECURE_EN"
	default y

config TIMER0_SECURE_EN
	bool "TIMER0_SECURE_EN"
	default y

config TIMER1_SECURE_EN
	bool "TIMER1_SECURE_EN"
	default y

config TIMER2_SECURE_EN
	bool "TIMER2_SECURE_EN"
	default y

config UART0_SECURE_EN
	bool "UART0_SECURE_EN"
	default y
    
config UART1_SECURE_EN
	bool "UART1_SECURE_EN"
	default y

config UART2_SECURE_EN
	bool "UART2_SECURE_EN"
	default y

config WDT_SECURE_EN
	bool "WDT_SECURE_EN"
	default y

config XDMA_SECURE_EN
	bool "XDMA_SECURE_EN"
	default y
    

endmenu
