choice 
    prompt "Select Example"
    default SUBG_SAMPLE
    config SUBG_SAMPLE
        bool "subg-sample"
        select BUILD_COMPONENT_NEWLIBC
        select BUILD_COMPONENT_LOG
        select BUILD_COMPONENT_CLI

    config CONFIG_SUBG_WAKE_ON_RADIO
        bool "subg-wake-on-radio"
        select BUILD_COMPONENT_NEWLIBC
        select BUILD_COMPONENT_LOG
        select BUILD_COMPONENT_CLI
endchoice

if SUBG_SAMPLE
source "examples/sub-g/subg-sample/Kconfig"
endif

if CONFIG_SUBG_WAKE_ON_RADIO
source "examples/sub-g/subg-wake-on-radio/Kconfig"
endif

