choice 
    prompt "Select Example"
    default OT_CLI_FTD

    config OT_CLI_FTD
    bool "ot-cli-ftd"

    config OT_CLI_MTD
    bool "ot-cli-mtd"

    config THREAD_DEMO
    bool "Thread demo"

endchoice

if SUBG_THREAD_METER
source "examples/thread/subg_thread_meter/Kconfig"
endif

if SUBG_THREAD_NCP
source "examples/thread/subg_thread_ncp/Kconfig"
endif

if OT_CLI_FTD
source "examples/thread/ot-cli-ftd/Kconfig"
endif

if OT_CLI_MTD
source "examples/thread/ot-cli-mtd-sleep/Kconfig"
endif

if THREAD_DEMO
source "examples/thread/thread-demo/Kconfig"
endif
